*{
    margin: 0;
}
.caja{
    border: 3px solid rgb(0, 2, 128);
    border-radius: 35px;
    width: 78%;
    margin: 51px auto;
    padding: 20px;

}
p{
    text-align:justify;

}
a{
    display: inline-block;
    margin: 10px 10px;
    padding: 21px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: green;
    color:#fff;
    transition: all 1300ms;
}
a:hover{
    opacity: 0.8;
    color: black;
    background-color: rgb(255, 17, 0);
}
a:active{
    transform: scale(0.85);
}
